// Import Bulma's core
@import "~bulma/sass/utilities/_all"

// Set your colors
$primary: #8c67ef
$primary-light: findLightColor($primary)
$primary-dark: findDarkColor($primary)
$primary-invert: findColorInvert($primary)

// There are more other styles and variables here.

// Import Bulma and Buefy styles
@import "~bulma"
@import "~buefy/src/scss/buefy"
